/* 
  Lesson 2!
  Welcome to the CSS file!

  Let's talk about color for a second.
  So far we have used the name of a color inside our p selector to style our p element.

  p {
      color: blueviolet;
  }

  There's 148 color names. These are called the 'Named Colors.'
  The most recently added named color is rebeccapurple. I'll let you do a web search to find why it is called that.

  OK. Named Colors... Great. But there's only 148! That isn't very many!
  There are other ways to define colors in CSS. I'll share a few ways here.

  The second and probably still most popular way is using HEX values.
  Our color blueviolet can be described with hex values as well.

  p {
      color: #8A2BE2;
  }

  

    color: rgb(138, 43, 226);





*/

p {
    color: blueviolet;
    text-align: center;
    font-size: 18px;
    background-color:
}


/* OK! Now it's your turn. You're going to modify that p selector code above.
Change the color value. Pick a color value using one of these names. https://www.w3schools.com/cssref/css_colors.php
Remove the text-align property and value.
Change font-size to something bigger. You pick.
Add a 'background-color' property and pick another color value. 

That's it! You've completed Lesson 1!
Take a screenshot of your web browser and send it to me to show you've completed the lesson!
*/