/* 
  Module 9! Specificity with CSS Selectors
*/

#recipe-container {
    width: 80%;
    padding: 18px;
    background-color: rgb(16, 16, 16);
}

#recipe-container p {
    color: rgb(190, 190, 190);
    font-size: 16px
}

#recipe-container .title {
    color: white;
    font-size: 28px;
}

#recipe-container .subtitle {
    font-size: 24px
}

#recipe-container .ingredients,
#recipe-container .preparation {
    color: white;
    text-transform: uppercase;
}

ul,
ol {
    color: white;
}