/* 
  Module 9! Specificity with CSS Selectors
  Look at my first comment in index.html first.
*/

p {
    font-size: 18px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

#heading-one {
    color: blue;
}

h3 {
    font-size: 26px;
    color: pink;
}

.header {
    color: purple;
}

#intro,
#pizza-party {
    color: powderblue;
    font-size: 40px;
    text-align: center;
    background-color: magenta;
    line-height: 64px
}

.imani {
    color: blueviolet;
}

.carmen {
    color: orangered;
}