/* 
  Module 8! Specificity with CSS Files
  Look at my first comment in index.html first.
  Next look at my comments in styles.css and this file below.
*/


/* This h3 element selector overides our two h3 element selectors in styles.css */

h3 {
    font-size: 26px;
    color: purple;
}

#recipe-container {
    width: 80%;
    padding: 18px;
    background-color: rgb(16, 16, 16);
}

#recipe-container p {
    color: rgb(190, 190, 190);
    font-size: 16px
}

#recipe-container .title {
    color: white;
    font-size: 28px;
}

#recipe-container .subtitle {
    font-size: 24px
}

#recipe-container .ingredients,
#recipe-container .preparation {
    color: white;
    text-transform: uppercase;
}

ul,
ol {
    color: white;
}