/* 
  Welcome to the CSS file!
  CSS files are commonly named 'style.css' or 'styles.css' You can name it whatever you want.
  CSS files are were you create your design rules for your html. 
  These design rules are called selectors. 
  These selectors hold stuff in between {}, also known as curly braces.
  The stuff in these curly braces must be pairs of text called 'property value pairs.'
  I realize that sounds like some sort of real estate thing! But let's keep going and it should start to make sense.
  A property can be something like 'color,' for a text color like blueviolet.
                                or 'align,' for text alignments like left right and center.
                                or 'font-size' for things like 16px.
  You computer understands that you've given it a property value pair when it sees a :, also known as a colon.

  Here's the structure of a selector that contains three property value pairs. 
  It's the template your computer is looking for to take your design rule and apply it to your html.

selector {
  property1: valueA
  property2: valueB
  property3: valueC
} 

This is just the template though. Let's make an actual useful selector!

As we know, typography is the most basic component of design. So let's start there.

Most html files have body copy. This means your going to see our friend the <p> tag A LOT.
Web browser's know, "When I see a tag with the p element inside, <p></p>, that's body copy!"
The letter p stands for paragraph.
 p is the html element. <----- Commit this word element to memory. We'll use it a lot.
<p> is the opening tag.
</p> is the closing tag.
A sentence in html commonly looks like this:
<p> The quick brown fox jumped over the lazy dog. </p>

So now let's talk about how CSS fits into this.
CSS understands the basic html elements such as p, body, head, a, etc and we can use these to style our page.
In CSS, the letter 'p' is the paragraph selector for the p HTML element.

It can be hard to remember the language here. I think of it like this.
"The CSS selector selects the HTML element."

Now, go take a look at the <p></p> tags in your index.html file and come back. There's a bunch, right?


OK. Let's style that text!
When we create a p selector in our CSS file, we are creating a design rule that wil be applied to every <p> tag in our html file.
An empty p selector won't do anything, though. Boring!
p {

}

Let's get fancy and add some properties and values inside this 'p' selector.

p {
    color: blueviolet;
    text-align: center;
    font-size: 18px;
}

We added three property value pairs so this will do three things to the text that lives inside our html file's <p></p> tags. 

It will: 
- Change the font color from black (the browser default) to blueviolet, 
- Align the text from left (the browser default) to center, 
- Set the font size from 16px (the browser default) to 18px!
*/

p {
    color: blueviolet;
    text-align: center;
    font-size: 18px;
}


/* OK! Now it's your turn. You're going to modify that p selector code above.
Change the color value. Pick a color value using one of these names. https://www.w3schools.com/cssref/css_colors.php
Remove the text-align property and value.
Change font-size to something bigger. You pick.
Add a 'background-color' property and pick another color value. 
*/