/* 
  Module 4! IDs
 
  In a previous module we learned about element selectors. Here we are selecting the p element.

  p {
    color: blueviolet;
  }
  
  We've also learned about class selectors. Here we are selecting the imani element.

  .imani {
    color: blueviolet;
  }

  There are a few more selector types to learn about!

  In HTML there is an attribute called an "ID." This attribute gives an element a unique identifier. 
  Notice I said UNIQUE identifier. There should be only one id element with the same name on a page.
  When we get into more advanced topics we'll talk about why using a lot of IDs can be a pain in the butt. 
  You never know when you're going to add a second item to a page that has the same ID. And then you have to convert it into a class!
  Annoying! So I rarely use IDs. But you will see them quite often so it's very useful to know how they work. 
  There is also a cool trick that ID's can do I'll share at the the end of this module.

  Here's an example. I'll add a p element at the top of our conversation.
  
  <p>Imani and Carmen are Best Friends</p>
   
  Now let's add an id to this p element called "intro." This looks like: <p id="intro">
  We're going to use this id of "intro" to identify the introduction of our conversation between Imani and Carmen.
  
  <p id="intro">Imani and Carmen Might Be Best Friends</p>
  <p class="imani">Hello.</p>
  <p class="carmen">Whassup...</p>
  <p class="imani">Carmen, I think you might be my best friend.</p>
  <p class="carmen">Shut up.</p>
  <p class="imani">I'm serious! Be serious!</p>
  <p class="carmen">I guess I'm supposed to be flattered.</p>
  <p class="imani">You ARE supposed to be flattered, you jerk!</p>
  <p class="carmen">OK. You never get mad at me. So I'm taking this seriously.</p>
  <p class="imani">Good...</p>
  <p class="imani">So, is it weird that I think you're my best friend?</p>
  <p class="carmen">It's cool! But what am I, a psychologist?</p>
  <p class="imani">I just don't know how I feel about it. I guess it doesn't matter. It just is.</p>
  <p class="carmen">I like that. I found ten bucks. Let's go get tacos.</p>

  We have an ID in our HTML! Now we need to create an ID selector so we can apply our styling!

  To create an ID selector we use a # symbol, also known as a "pound sign" or "hash" in our css file.
  This # symbol tell's the browser to look for IDs in our HTML and style them. 

  Let's make the styling for this "intro" id large and colorful.
  */

#intro {
    color: powderblue;
    font-size: 20px;
    text-align: center;
    background-color: magenta;
    line-height: 64px
}

.imani {
    color: blueviolet;
}

.carmen {
    color: orangered;
}


/* OK! Now it's your turn.
  We're going to start with some throwback tasks from our old modules to keep our memory sharp.

  Step 1. Change the intro IDs color property to the rgb values for powderblue.
  Step 2. Change the intro IDs background-color property to the hex value for magenta.
  Step 3. Change the intro ID's line-height property to a value of 72px.
  Step 4. Change Carmen's type color to the HSL value that represents the hex color #cc0000.

  The New Stuff Starts Here!
  Step 5. In your HTML file, Create a new set of p tags above your intro paragraph. 
          Give this p an ID called "chapter"
          Inside the p tags type the text 'Chapter 1: A New Beginning' (Do not type the ' marks)
  Step 6. In your styles.css file create a new ID selector called "chapter"
  Step 7. In your chapter id selector
          Apply type color using rgba values of 159, 226, 191, .8
          Apply a type size of 32px.
          Apply a font-weight of bold.
          Align your text to the center.
          Set your background-color to #FF7F50
          Set your line height to 88px
  Step 8. We also have an id in our html called "pizza-party." 
          In your styles.css file create a new ID selector called "pizza-party"
  Step 9. In your #pizza-party id selector add the same styling that #intro has.

  OK. So I said I'd share a cool thing about IDs in html. That cool thing is you can link directly to IDs in URLS.
  Remember that ID in our page called pizza-party?
  If you add #pizza-party onto the end of your url string, your browser will automatically go there:
  Example: http://127.0.0.1:5500/4-ids/index.html#pizza-party
  The page is already scrolled down to this id="pizza-party" section of the page!
  This is EXTREMELY useful for web pages containing a lot of text. A person can send a link directly to a section of a page.

  That's it! You've completed the module!
  Take a screenshot of this css file and web browser window and send it to me to show you've completed the module! 
*/