/* 
  Lesson 4! IDs
 
  In a previous lesson we learned about element selectors. Here we are selecting the p element.

  p {
    color: blueviolet;
  }
  
  We've also learned about class selectors. Here we are selecting the imani element.

  .imani {
    color: blueviolet;
  }

  There are a few more selector types to learn about!

  In HTML there is an attribute called "id." This attribute gives an element a unique identifier. 
  Notice I said UNIQUE identifier. There should be only one id element with the same name on a page. 

  Here's an example. I'll add a p element at the top of our conversation.
  
  <p>Imani and Carmen are Best Friends</p>
   
  Now let's add an id called "intro." This looks like: <p id="intro">
  We're going to use this id of "intro" to identify the introduction of our conversation between Imani and Carmen.
  
  <p id="intro">Imani and Carmen are Best Friends</p>
  <p class="imani">Hello.</p>
  <p class="carmen">Whassup...</p>
  <p class="imani">Are you going to that party tonight?</p>
  <p class="imani">I think I'm going to make pizzas and bring them.</p>
  <p class="imani">Hello. Carmen? Are you there?</p>
  <p class="carmen">Sorry I can't stop thinking about design systems.</p>
  <p class="carmen">I was going to go to the party... But there's a new documentary about Javascript out.</p>
  <p class="carmen">I think Javascript might win over pizza.</p>
  <p class="imani">Wow. You are a serious design nerd.</p>
  <p class="imani">Will you go with me if I let you bring your laptop?</p>
  <p class="carmen">Oh my gosh. Am I that bad?</p>
  <p class="imani">YES. YOU ARE THAT BAD!</p>

  We have an ID in our HTML! Now we need to create an ID selector so we can apply our styling!

  To create an ID selector we use a # symbol, also known as a "pound sign" or "hash" in our css file.
  This # symbol tell's the browser to look for IDs in our HTML and style them. 

  Let's make the styling for this "intro" id large and colorful.
  */

#intro {
    color: powderblue;
    font-size: 20px;
    text-align: center;
    background-color: magenta;
    line-height: 64px
}

.imani {
    color: blueviolet;
}

.carmen {
    color: orangered;
}


/* OK! Now it's your turn.
  We're going to start with some throwback tasks from our old lessons to keep our memory sharp.

  Step 1. Change the intro IDs color property to the rgb values for powderblue.
  Step 2. Change the intro IDs background-color property to the hex value for magenta.
  Step 3. Change the intro ID's line-height property to a value of 72px.
  Step 4. Change Carmen's type color to the HSL value that represents the hex color #cc0000.

  The New Stuff Starts Here!
  Step 5. In your HTML file, Create a new set of p tags above your intro paragraph. 
          Give this p an ID called "chapter"
          Inside the p tags type the text 'Chapter 1: A New Beginning' (Do not type the ' marks)
  Step 6. In your styles.css file create a new ID selector called "chapter"
  Step 7. In your chapter id selector
          Apply type color using rgba values of 159, 226, 191, .8
          Apply a type size of 32px.
          Apply a font-weight of bold.
          Align your text to the center.
          Set your background-color to #FF7F50
          Set your line height to 88px

  That's it! You've completed the lesson!
  Take a screenshot of this css file and web browser window and send it to me to show you've completed the lesson! 
*/